/* default css */

* {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-family: "Roboto";
}

.main-container {
  display: flex;
  width: max-content;
  margin-left: 33vw;
  margin-top: 25vh;
  border: 5px solid aliceblue;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  margin: 20px;
  row-gap: 20px;
}

span {
  grid-column: span 2;
}

button {
  grid-column: span 2;
  margin-bottom: 20px;
  border-radius: 25px;
}

input {
  appearance: none;
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
}

/* invalid fields */
input:invalid {
  border-color: #900;
  color: black;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* error message styles */
.error {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 25px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}