/* default css */

* {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-family: "Roboto";
}

.main-container{
  display: flex;
  width: max-content;
  margin-left: 33vw;
  margin-top: 25vh;
  border: 5px solid aliceblue ;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  margin: 20px;
  row-gap: 20px;
}

button {
  grid-column: span 2;
  margin-bottom: 20px;
  border-radius: 25px;
}